<div class="form-group row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="form-label">
            {{ form_label(blog_translation.language) }}
        </div>
        <div>
            {{ form_widget(blog_translation.language) }}
            {{ form_errors(blog_translation.language) }}
        </div>
    </div>

    {% if blog_translation.delete_translation is defined %}
        <div class="col-6 col-sm-8 col-md-9 col-lg-10 d-flex justify-content-end">
            <div class="pt-2">
                {{ form_widget(blog_translation.delete_translation) }}
            </div>
        </div>
    {% endif %}

</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(blog_translation.subject) }}
    </div>
    <div class="col-12">
        {{ form_widget(blog_translation.subject) }}
        {{ form_errors(blog_translation.subject) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(blog_translation.content) }}
    </div>
    <div class="col-12">
        {{ form_widget(blog_translation.content) }}
        {{ form_errors(blog_translation.content) }}
    </div>
</div>
