{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('layout/default/css/blog/blog_article.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    {% set fieldName = 'app_blog_article_article_entity' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

{% endblock %}
