{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-text-img right-side-img top-space-homepage">

    <section class="header-image-bar" style="background-image: url('{{ asset('images/app_home/hands-1920.jpg') }}');">

        {% set fieldName = 'app_home_section1_welcome_header' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

    </section>
    <section class="content-text">

        {% set fieldName = 'app_home_section1_welcome_header' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

        {% set fieldName = 'app_home_section1_welcome_description' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

    </section>
    <section class="content-image" style="background-image: url('{{ asset('images/app_home/hands-1920.jpg') }}');">
    </section>

</section>

<section class="app-main-text-img left-side-img">

    <section class="header-image-bar" style="background-image: url('{{ asset('images/app_home/knowledge-1920.jpg') }}');">

        {% set fieldName = 'app_home_section2_introvert_header' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

    </section>
    <section class="content-image" style="background-image: url('{{ asset('images/app_home/knowledge-1920.jpg') }}');">
    </section>
    <section class="content-text">

        {% set fieldName = 'app_home_section2_introvert_header' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

        {% set fieldName = 'app_home_section2_introvert_description' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

    </section>

</section>

<section class="app-main-card-text">

    <section class="card-box three-cards">

        {% set fieldName = 'app_home_section3_card1_header' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

        {% set fieldName = 'app_home_section3_card1_content' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

    </section>

    <section class="card-box three-cards">

        {% set fieldName = 'app_home_section3_card2_header' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

        {% set fieldName = 'app_home_section3_card2_content' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

    </section>

    <section class="card-box three-cards">

        {% set fieldName = 'app_home_section3_card3_header' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

        {% set fieldName = 'app_home_section3_card3_content' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

    </section>

</section>

<section class="app-main-image bottom-space-none">

    <div class="main-image-bg" style="background-image: url('{{ asset('images/app_home/sailing-boat-1920.jpg') }}')"></div>

</section>

{% endblock %}
