{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-profile top-space-large">

    <section class="profile-avatar">

        {% set fieldName = 'app_about_me_profile_img' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

    </section>
    <section class="profile-content">

        {% set fieldName = 'app_about_me_profile_header' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

        {% set fieldName = 'app_about_me_profile_content' %}
        {% if fields[fieldName] is defined %}

            {% set fieldObject = fields[fieldName] %}
            {% include 'default/field/field_templates.html.twig' %}

        {% endif %}

        <div class="profile-social-icon-bar">
            <div class="icon-container">
                <object class="small-icon icon-left" data="{{ asset('images/icons/facebook.svg') }}" type="image/svg+xml"></object>
                <a class="link" href="https://www.facebook.com/tomasz.bukowski.9">Facebook</a>
            </div>
            <div class="icon-container">
                <object class="small-icon icon-left" data="{{ asset('images/icons/linkedin.svg') }}" type="image/svg+xml"></object>
                <a class="link" href="https://www.linkedin.com/in/tomasz-bukowski-843a35145/">LinkedIn</a>
            </div>
            <div class="icon-container">
                <object class="small-icon icon-left" data="{{ asset('images/icons/gitlab.svg') }}" type="image/svg+xml"></object>
                <a class="link" href="https://gitlab.com/Kosa_03">GitLab</a>
            </div>
        </div>

    </section>

</section>

<section class="app-main-text">

    {% set fieldName = 'app_about_me_it_is_me_header' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% set fieldName = 'app_about_me_it_is_me_content' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

<section class="app-main-text">

    {% set fieldName = 'app_about_me_interests_header' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% set fieldName = 'app_about_me_interests_content' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

<section class="app-main-text">

    {% set fieldName = 'app_about_me_soft_skills_header' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% set fieldName = 'app_about_me_soft_skills_content' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

<section class="app-main-text bottom-space-large">

    {% set fieldName = 'app_about_me_hard_skills_header' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% set fieldName = 'app_about_me_hard_skills_content' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

{% endblock %}
