{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-text bottom-space-small top-space-large">

    {% set fieldName = 'app_experience_main_header' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% set fieldName = 'app_experience_main_content' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

<section class="app-main-time-line">

    <section class="tl-row">

        <div class="tl-track-header">
        </div>
        <div class="tl-item-header">

            {% set fieldName = 'app_experience_timeline_item1_header' %}
            {% if fields[fieldName] is defined %}

                {% set fieldObject = fields[fieldName] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>

    </section>

    <section class="tl-row">

        <div class="tl-track-content">
        </div>
        <div class="tl-item-content">

            {% set fieldName = 'app_experience_timeline_item1_content' %}
            {% if fields[fieldName] is defined %}

                {% set fieldObject = fields[fieldName] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>

    </section>

    <section class="tl-row">

        <div class="tl-track-header">
        </div>
        <div class="tl-item-header">

            {% set fieldName = 'app_experience_timeline_item2_header' %}
            {% if fields[fieldName] is defined %}

                {% set fieldObject = fields[fieldName] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>

    </section>

    <section class="tl-row">

        <div class="tl-track-content">
        </div>
        <div class="tl-item-content">

            {% set fieldName = 'app_experience_timeline_item2_content' %}
            {% if fields[fieldName] is defined %}

                {% set fieldObject = fields[fieldName] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>

    </section>

    <section class="tl-row">

        <div class="tl-track-header">
        </div>

    </section>

</section>

<section class="app-main-text bottom-space-large">

    {% set fieldName = 'app_experience_projects_header' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% set fieldName = 'app_experience_projects_content' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

{% endblock %}
