{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    {% set fieldName = 'app_blog_article_list_article_list' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

{% endblock %}
