{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-section-main-box-container">

    {% for fieldObject in fields %}

        {% include 'default/field/field_templates.html.twig' %}

    {% endfor %}

</section>

{% endblock %}
