{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-text top-space-large bottom-space-small">

    {% set fieldName = 'app_contact_header' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% set fieldName = 'app_contact_content' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

<section class="app-main-container bottom-space-large">

    {% set fieldName = 'app_contact_form' %}
    {% if fields[fieldName] is defined %}

        {% set fieldObject = fields[fieldName] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

{% endblock %}
