{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% if fields['blog_edit_header'] is defined %}

        {% set fieldObject = fields['blog_edit_header'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% if fields['blog_edit_description'] is defined %}

        {% set fieldObject = fields['blog_edit_description'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-end">

            {% if fields['blog_edit_btn_article_list'] is defined %}

                {% set fieldObject = fields['blog_edit_btn_article_list'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

            <div class="d-inline-flex mt-3">

                {% if fields['blog_edit_btn_delete_article'] is defined %}

                    {% set fieldObject = fields['blog_edit_btn_delete_article'] %}
                    {% include 'default/field/field_templates.html.twig' %}

                {% endif %}
            </div>

        </div>
    </div>

    <div class="row row-divider"></div>

    <div class="card">
        <div class="card-header">

            <h6 class="small-header pb-0 pl-2">Blog Article Options</h6>

        </div>
        <div class="card-body">

            {% include 'default/form/blog/edit_blog_article_form.html.twig' %}

        </div>
    </div>

    <div class="row row-divider"></div>

    <div class="card">
        <div class="card-header">

            <h6 class="small-header pb-0 pl-2">Blog Article Translations</h6>

        </div>
        <div class="card-body">

            {% include 'default/form/blog/edit_blog_translations_form.html.twig' %}

        </div>
    </div>

</section>

{% endblock %}
