{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% for fieldObject in fields|slice(0, 2) %}

        {% include 'default/field/field_templates.html.twig' %}

    {% endfor %}

    {% include 'default/form/blog/delete_blog_article_confirm_form.html.twig' %}

</section>

{% endblock %}
