{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% for fieldObject in fields|slice(0, 2) %}

        {% include 'default/field/field_templates.html.twig' %}

    {% endfor %}

    {% if form_blog_article is defined %}
        <div class="card">
            <div class="card-header">

                <h6 class="small-header pb-0 pl-2">Blog Article Configuration</h6>

            </div>
            <div class="card-body">

                {% include 'default/form/blog/add_blog_article_form.html.twig' %}

            </div>
        </div>
    {% endif %}

    {% if form_blog_translations is defined %}
        <div class="card">
            <div class="card-header">

                <h6 class="small-header pb-0 pl-2">Blog Article Translations</h6>

            </div>
            <div class="card-body">

                {% include 'default/form/blog/add_blog_translations_form.html.twig' %}

            </div>
        </div>
    {% endif %}

</section>

{% endblock %}
