{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/blog_article/blog_article.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% if fields['blog_preview_header'] is defined %}

        {% set fieldObject = fields['blog_preview_header'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    <div class="row">
        <div class="col-12 col-sm-8 col-md-9">

            {% if fields['blog_preview_description'] is defined %}

                {% set fieldObject = fields['blog_preview_description'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>
        <div class="col-12 col-sm-4 col-md-3">

            {% if fields['blog_preview_btn_edit_article'] is defined %}

                {% set fieldObject = fields['blog_preview_btn_edit_article'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>
    </div>

    {% set blogArticle = blog_article_dto %}
    {% set blogTranslation = blogArticle.translation %}

    <div class="row d-flex align-items-baseline justify-content-end blog-article-header" style="background-image: url('/images/blog_article/{{ blogArticle.headerImageFile }}')">
        <h2 class="flex-wrap blog-article-header-text">
            {{ blogTranslation.subject|raw }}
        </h2>
    </div>

    {#{{ form_start(form_vote_like_dislike) }}#}

    {#<div class="row d-flex justify-content-end no-gutters pt-4">#}
        {#<div class="d-inline-flex p-1">#}
            {#{{ form_widget(form_vote_like_dislike.vote_like) }}#}
        {#</div>#}
        {#<div class="d-inline-flex p-1">#}
            {#{{ form_widget(form_vote_like_dislike.vote_neutral) }}#}
        {#</div>#}
        {#<div class="d-inline-flex p-1">#}
            {#{{ form_widget(form_vote_like_dislike.vote_dislike) }}#}
        {#</div>#}
    {#</div>#}

    {#{{ form_end(form_vote_like_dislike) }}#}


    <div class="row blog-article-content">
        <div class="col-12">
            {{ blogTranslation.content|raw }}
        </div>
    </div>

    <div class="row d-flex justify-content-end blog-article-signature">
        <div class="text-muted signature-text">
            Posted by <a href="#" class="link">kosiak</a> at {{ blogArticle.created|date('H:i, d-m-Y') }}
        </div>
    </div>

</section>

{% endblock %}
