{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% if fields['blog_tag_list_header'] is defined %}

        {% set fieldObject = fields['blog_tag_list_header'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    <div class="row">
        <div class="col-12 col-sm-8 col-md-9">

            {% if fields['blog_tag_list_description'] is defined %}

                {% set fieldObject = fields['blog_tag_list_description'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>
        <div class="col-12 col-sm-4 col-md-3">

            {% if fields['blog_tag_list_btn_article_list'] is defined %}

                {% set fieldObject = fields['blog_tag_list_btn_article_list'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>
    </div>

    {{ form_start(form_blog_tags) }}


    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">
                Id
            </th>
            <th scope="col">
                Tag name
            </th>
            <th scope="col">
                Weight
            </th>
            <th scope="col">
                Translations
            </th>
            <th scope="col">
                Action
            </th>
        </tr>
        </thead>
        <tbody>

        {% for blogTag in blog_tags %}

            <tr>
                <th scope="row">
                    {% if blogTag.tagId is not null %}{{ blogTag.tagId }}{% else %}-{% endif %}
                </th>
                <td>
                    {% if blogTag.name is not null %}<a href="#" class="link">#{{ blogTag.name }}</a>{% else %}#newTag{% endif %}
                </td>
                <td>
                    {% if form_blog_tags.tags.children[loop.index0] is defined %}
                        {{ form_widget(form_blog_tags.tags.children[loop.index0].weight) }}
                        {{ form_errors(form_blog_tags.tags.children[loop.index0].weight) }}
                    {% endif %}
                </td>
                <td>
                    {% if form_blog_tags.tags.children[loop.index0] is defined %}
                        {{ form_widget(form_blog_tags.tags.children[loop.index0].translations) }}
                        {{ form_errors(form_blog_tags.tags.children[loop.index0].translations) }}
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if form_blog_tags.tags.children[loop.index0] is defined %}
                        {{ form_widget(form_blog_tags.tags.children[loop.index0].delete_tag) }}
                    {% endif %}
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
    </div>

    <div class="row d-flex justify-content-end no-gutters">
        <div class="d-inline-flex pt-3">
            {{ form_widget(form_blog_tags.add_tag) }}
        </div>
        <div class="d-inline-flex pl-3 pt-3">
            {{ form_widget(form_blog_tags.update_tags) }}
        </div>
    </div>

    {{ form_end(form_blog_tags) }}

</section>

{% endblock %}
