{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% if fields['blog_list_header'] is defined %}

        {% set fieldObject = fields['blog_list_header'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    <div class="row">
        <div class="col-12 col-sm-8 col-md-9">

            {% if fields['blog_list_description'] is defined %}

                {% set fieldObject = fields['blog_list_description'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>
        <div class="col-12 col-sm-4 col-md-3">

            {% if fields['blog_list_btn_new_article'] is defined %}

                {% set fieldObject = fields['blog_list_btn_new_article'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>
    </div>

    {% include 'default/form/blog/list_blog_search_form.html.twig' %}

    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">
            Id
        </th>
        <th scope="col">
            Status
        </th>
        <th scope="col">
            Subject (Tags)
        </th>
        <th scope="col">
            Translations
        </th>
        <th scope="col">
            Author
        </th>
        <th scope="col">
            Viewed
        </th>
        <th scope="col">
            Modified
        </th>
        <th scope="col">
            Action
        </th>
    </tr>
    </thead>
    <tbody>

    {% for blogArticle in blog_list %}

        {% set blogTranslation = blogArticle.translation %}

        <tr>
            <th scope="row">
                {{ blogArticle.id }}
            </th>
            <td>
                {{ blogArticle.status|replace({'published': 'Published', 'not_published': 'Not published'}) }}
            </td>
            <td>
                <a href="#" class="link font-weight-bold">
                    {{ blogTranslation.subject }}
                </a><br>
                {% for blogTags in blogArticle.tags %}
                    <a href="#" class="link">#{{ blogTags.name }}</a>{% if loop.index != loop.last %},{% endif %}
                {% endfor %}
            </td>
            <td>
                {% for blogTranslation in blogArticle.translations %}
                    {% if loop.first %}({{ loop.length }}){% endif %}
                    {{ blogTranslation.language }}{% if loop.index != loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td class="text-right">
                {{ blogArticle.authorId }}
            </td>
            <td class="text-right">
                {{ blogArticle.amountOfDisplay }}
            </td>
            <td class="text-right">
                {{ blogArticle.modified|date('H:i') }}<br>
                {{ blogArticle.modified|date('d-m-Y') }}
            </td>
            <td class="text-center">
                <a class="btn btn-outline-success btn-sm m-1" href="{{ path('admin_blog_article_edit', {'articleId': blogArticle.id}) }}" role="button">Edit</a>
                <a class="btn btn-outline-danger btn-sm m-1" href="{{ path('admin_blog_article_delete', {'articleId': blogArticle.id}) }}" role="button">Delete</a>
            </td>
        </tr>

    {% endfor %}

    </tbody>
    </table>
    </div>

    {% if fields['blog_list_pagination'] is defined %}

        {% set fieldObject = fields['blog_list_pagination'] %}
        {% set pagination = blog_list_pagination %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

{% endblock %}
