{# Main bootstrap layout #}
{% use 'bootstrap_4_layout.html.twig' %}

{# Customized features #}
{% use 'default/twig_forms/field_labels.html.twig' %}
{% use 'default/twig_forms/field_errors.html.twig' %}