{# Errors #}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="{% if form is not rootform %}invalid-feedback{% else %}alert form-alert alert-danger{% endif %}" role="alert">
            {%- for error in errors -%}
                <span class="d-block">
                    <span class="badge badge-danger text-uppercase">{{ 'Błąd'|trans({}, 'validators') }}</span> <span class="form-error-message">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </div>
    {%- endif %}
{%- endblock form_errors %}