.btn {
    border-radius: 0;
    border-width: 2px;
}

.btn-outline-primary {
    border-color: #0495FE;
}

.btn-outline-primary:hover {
    background-color: #0495FE;
    border-color: #0495FE;
}

.btn-outline-warning:hover,
.btn-outline-warning:active {
    color: #FFFFFF !important;
}
