main .card {
    border-radius: 0;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

main .card .text-description {
    font-size: 0.9rem;
    padding-left: 1rem;
}

main .card .card-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
