img.avatar {
    display: block;
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin: 0;
    border-radius: 30%;
}

.blog-article-header-bg-thumbnail {
    width: 150px;
    height: 70px;

    background-size: 100% auto;
    background-position-y: center;
}