article.long-text {
    text-align: left;
    line-height: 2rem;
    word-wrap: break-word;
}

p.dot::before {
    display: inline-block;
    content: '';
    width: 0.25rem;
    height: 0.25rem;
    border: solid 0.25rem #0495FE;
    border-radius: 50%;
    margin-left: 1.2rem;
    margin-right: 0.8rem;
    transform: translateY(-2px);
}

p.last-p {
    margin: 0;
}
span.highlight {
    color: #0495FE;
    font-weight: bold;
}
