main .pagination .page-link {
    border-width: 2px;
    border-color: #0495FE;
}

main .pagination .page-item:first-child .page-link,
main .pagination .page-item:last-child .page-link {
    border-radius: 0;
}

main .pagination .page-item:not(:first-child) {
    margin-left: -1px;
}

main .pagination .page-link:hover,
main .pagination .page-item.active .page-link {
    color: #FFFFFF;
    background-color: #0495FE;
    border-color: #0495FE;
}

main .pagination .page-item.disabled .page-link {
    color: rgba(4, 149, 254, 0.5);
    border-color: rgba(4, 149, 254, 0.5);
}
