main ul.list-inline {
    display: flex;
    flex-flow: row wrap;
}

main ul.rectangle-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main ul.rectangle-list li::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.8rem;
    margin-right: 0.4rem;
    vertical-align: 0;
    border-left: 0.4rem solid #0495FE;
    border-right: 0;
    border-top: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;
}

/*ul.tiles-list {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: flex-start;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*list-style-type: none;*/
/*}*/
/*.tiles-list li {*/
    /*display: flex;*/
    /*word-wrap: break-word;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*line-height: 2rem;*/
    /*font-weight: bold;*/
    /*font-size: 1.2rem;*/
    /*color: rgba(4, 149, 254, 1);*/
    /*padding: 0.4rem 1.2rem;*/
    /*margin: 0 1rem;*/
    /*!*width: 200px;*!*/
    /*!*height: 150px;*!*/
    /*border: solid 0.2rem rgba(4, 149, 254, 1);*/
/*}*/
