h1.text-header {
    color: #0495FE;
    font-size: 2.3rem;
    margin-bottom: 2rem;
    overflow: hidden;
    /*overflow-wrap: break-word;*/
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

h1.text-small-header {
    color: #0495FE;
    font-size: 1.9rem;
    margin-bottom: 1.4rem;
    overflow: hidden;
    /*overflow-wrap: break-word;*/
    word-wrap: break-word;
    overflow-wrap: anywhere;

}

h6.small-header {
    color: #0495FE;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}
