form button.btn {
    border-width: 2px;
}

form button.btn-outline-primary {
    border-color: #0495FE;
}

form button.btn-outline-primary:hover {
    background-color: #0495FE;
    border-color: #0495FE;
}
