form {
    padding: 0;
    margin: 0;
    width: 100%;
}

.form-control, .btn {
    border-radius: 0;
}

.form-control:disabled {
    background-color: #FBFBFB;
    color: #A6A6A6;
}

.custom-file-label {
    border-radius: 0;
}

.form-label {
    padding-top: 0.3rem;
}
.form-check-label {
    max-width: 100%;
    margin-left: 0.3rem;
}

textarea.form-control {
    height: 10rem;
}

span.invalid-feedback {
    font-size: 0.9rem;
}
span.invalid-feedback span.badge {
    vertical-align: text-top;
}

div.blog-tags-inline .form-check {
    display: inline-block;
    margin-right: 1.2rem;
}


.form-item-container {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
}

.new-form-label {
    flex: 1;
}
.new-form-widget {
    flex: 2;
}
.form-button {
    margin-top: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width: 991px) {
    .form-item-container {
        width: 85%;
    }
}

@media screen and (max-width: 767px) {
    .form-item-container {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .form-item-container {
        flex-flow: column wrap;
        width: 100%;
    }
}
