{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% for fieldObject in fields|slice(0, 2) %}

        {% include 'default/field/field_templates.html.twig' %}

    {% endfor %}

    <div class="row">

        <div class="col-12 col-md-6 mb-4">

            <div class="card">
                <div class="card-header">

                    {% if fields['card_header_field_content'] is defined %}

                        {% set fieldObject = fields['card_header_field_content'] %}
                        {% include 'default/field/field_templates.html.twig' %}

                    {% endif %}

                </div>
                <div class="card-body">

                    {% if fields['admin_panel_field_list'] is defined %}

                        {% set fieldObject = fields['admin_panel_field_list'] %}
                        {% include 'default/field/field_templates.html.twig' %}

                    {% endif %}

                </div>
            </div>

        </div>

        <div class="col-12 col-md-6">

            <div class="card">
                <div class="card-header">

                    {% if fields['card_header_users'] is defined %}

                        {% set fieldObject = fields['card_header_users'] %}
                        {% include 'default/field/field_templates.html.twig' %}

                    {% endif %}

                </div>
                <div class="card-body">
                    List of users.
                    <div class="text-muted text-description">Description text.</div>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-6 mb-4 mb-md-0">

            <div class="card">
                <div class="card-header">

                    {% if fields['admin_panel_card_header_blog'] is defined %}

                        {% set fieldObject = fields['admin_panel_card_header_blog'] %}
                        {% include 'default/field/field_templates.html.twig' %}

                    {% endif %}

                </div>
                <div class="card-body">

                    {% if fields['admin_panel_blog_add_blog_article'] is defined %}

                        {% set fieldObject = fields['admin_panel_blog_add_blog_article'] %}
                        {% include 'default/field/field_templates.html.twig' %}

                    {% endif %}

                    {% if fields['admin_panel_blog_tag_list'] is defined %}

                        {% set fieldObject = fields['admin_panel_blog_tag_list'] %}
                        {% include 'default/field/field_templates.html.twig' %}

                    {% endif %}

                    {% if fields['admin_panel_blog_article_list'] is defined %}

                        {% set fieldObject = fields['admin_panel_blog_article_list'] %}
                        {% include 'default/field/field_templates.html.twig' %}

                    {% endif %}

                </div>
            </div>

        </div>

    </div>

</section>

{% endblock %}
