{% set route = app.request.get('_route') %}

{% set css_path = 'layout/' ~ layout_name ~ '/' ~ layout_css_dir ~ '/' %}
{% set js_path = 'layout/' ~ layout_name ~ '/' ~ layout_js_dir ~ '/' %}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">

    {# Bootstrap 4.4.1 #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% for file in layout_css_files %}

        {% if file.route is defined %}
            {% if file.route == route %}
                <link rel="stylesheet" href="{{ asset(css_path ~ file.name) }}">
            {% endif %}
        {% else %}
            <link rel="stylesheet" href="{{ asset(css_path ~ file.name) }}">
        {% endif %}

    {% endfor %}
    {% block stylesheets %}{% endblock %}

    {# jQuery 3.4.1 #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {# Bootstrap 4.4 #}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {# jQuery scripts for MainMenu #}
    <script src="{{ asset(js_path ~ 'main_menu/show_hide_menu_items.js') }}"></script>
    <script src="{{ asset(js_path ~ 'main_menu/background_menu.js') }}"></script>
    <script src="{{ asset(js_path ~ 'main_menu/app_menu_events.js') }}"></script>
    {% if route == 'app_home' %}
        <script src="{{ asset(js_path ~ 'main_menu/app_home_menu_events.js') }}"></script>
    {% endif %}
    {% if route != 'app_home' %}
        <script src="{{ asset(js_path ~ 'main_menu/main_top_positioning.js') }}"></script>
    {% endif %}

    <script src="{{ asset(js_path ~ 'upload_file.js') }}"></script>
    {% block javascripts %}{% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>

</head>
<body>

    <header>
        {% if route == 'app_home' %}
            {% include 'default/home_carousel.html.twig' %}

        {% endif %}

        {% include 'default/main_menu/app_navbar_main_menu.html.twig' %}
    </header>

    <main>
        <section class="app-main-flash-message">
            {% include 'default/flash_message.html.twig' %}
        </section>

        {% block body %}{% endblock %}
    </main>

    <footer class="app-footer">
        {% include 'default/footerbar.html.twig' %}
    </footer>

</body>
</html>
