<header class="app-footer-signature">
    Strona została stworzona przez <a class="link" href="{{ path('app_about_me') }}">Tomasz Bukowski</a> dla
    <a class="link" href="https://introvertedcoder.com">introvertedcoder.com</a> 2019 - 2020
</header>

<section class="app-footer-columns">
    <div class="footer-col col-left">
        <header class="col-header">
            Polecane kanały na YT:
        </header>
        <div class="icon-container">
            <object class="small-icon icon-left" data="{{ asset('images/icons/youtube.svg') }}" type="image/svg+xml"></object>
            <a class="link" href="https://www.youtube.com/channel/UCfxk5idSdKXTEqAOa8YXIgw">SekurakTV</a>
        </div>
        <div class="icon-container">
            <object class="small-icon icon-left" data="{{ asset('images/icons/youtube.svg') }}" type="image/svg+xml"></object>
            <a class="link" href="https://www.youtube.com/channel/UCNvSk-U6X9mOJHr7wz_xCWw">Maciej Wieczorek</a>
        </div>
        <div class="icon-container">
            <object class="small-icon icon-left" data="{{ asset('images/icons/youtube.svg') }}" type="image/svg+xml"></object>
            <a class="link" href="https://www.youtube.com/channel/UCR_Deywzf9vfBxdbVNX4Bqg">VETO</a>
        </div>
    </div>
    <div class="footer-col col-right">
        <header class="col-header">
            Znajdziesz mnie na:
        </header>
        <div class="icon-container">
            <a class="link" href="https://www.facebook.com/tomasz.bukowski.9">Facebook</a>
            <object class="small-icon icon-right" data="{{ asset('images/icons/facebook.svg') }}" type="image/svg+xml"></object>
        </div>
        <div class="icon-container">
            <a class="link" href="https://www.linkedin.com/in/tomasz-bukowski-843a35145/">LinkedIn</a>
            <object class="small-icon icon-right" data="{{ asset('images/icons/linkedin.svg') }}" type="image/svg+xml"></object>
        </div>
    </div>
</section>
