<div id="carouselMainFade" class="app-home-carousel carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item first-item active">
            <h1 class="item-header d-none d-sm-flex">
                introvertedcoder.com
            </h1>
            <h1 class="item-header d-flex d-sm-none">
                Introverted Coder
            </h1>
            <h2 class="item-content">
                Welcome on my blog!
            </h2>
        </div>
        <div class="carousel-item second-item">
            <h1 class="item-header d-none d-sm-flex">
                introvertedcoder.com
            </h1>
            <h1 class="item-header d-flex d-sm-none">
                Introverted Coder
            </h1>
            <h2 class="item-content">
                Welcome on my blog!
            </h2>
        </div>
        <div class="carousel-item third-item">
            <h1 class="item-header d-none d-sm-flex">
                introvertedcoder.com
            </h1>
            <h1 class="item-header d-flex d-sm-none">
                Introverted Coder
            </h1>
            <h2 class="item-content">
                Welcome on my blog!
            </h2>
        </div>
    </div>
</div>
