{% if app.request.locale is defined %}
    {% set locale = app.request.locale %}
{% else %}
    {% set locale = app.request.defaultLocale %}
{% endif %}

<nav class="navbar navbar-expand-sm fixed-top app-navbar-main-menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appMainMenu" aria-controls="appMainMenu" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="appMainMenu">
        <ul class="navbar-nav">

            {% include 'default/main_menu/main_menu.html.twig' %}

        </ul>
    </div>

</nav>
