{# Main Menu for desktop #}

{% for menu_item in menu.items %}

    {% if is_granted(menu_item.role) and (menu_item.onlyForAnonymous == false) %}

        {% if menu_item.className is same as('AppBundle\\Menu\\Item\\MenuItem') %}
            {% include 'default/main_menu/item/menu_item.html.twig' %}

        {% elseif menu_item.className is same as('AppBundle\\Menu\\Item\\DropdownItem') %}
            {% include 'default/main_menu/item/dropdown_menu.html.twig' %}

        {% endif %}

    {% elseif (app.user is null) and (menu_item.onlyForAnonymous == true) %}

        {% if menu_item.className is same as('AppBundle\\Menu\\Item\\MenuItem') %}
            {% include 'default/main_menu/item/menu_item.html.twig' %}

        {% elseif menu_item.className is same as('AppBundle\\Menu\\Item\\DropdownItem') %}
            {% include 'default/main_menu/item/dropdown_menu.html.twig' %}

        {% endif %}

    {% endif %}

{% endfor %}
