.app-home-carousel {
    z-index: 20;

    display: flex;
    width: 100%;
    height: 100vh;
}

.app-home-carousel .carousel-item.active,
.app-home-carousel .carousel-item-left,
.app-home-carousel .carousel-item-next {
    display: flex;
}
.app-home-carousel .carousel-item::before {
    position: absolute;
    z-index: 10;

    align-self: flex-start;
    -webkit-align-self: flex-start;
    width: 100%;
    height: 100vh;

    content: '';
    background: rgba(0, 0, 0, 0.35);
}

.app-home-carousel .first-item,
.app-home-carousel .second-item,
.app-home-carousel .third-item {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;

    height: 100%;

    background-size: cover;
    background-position: center bottom;
}
.app-home-carousel .first-item {
    background-image: url('../../../../images/slideshow/main/fiber-1920.jpg');
}
.app-home-carousel .second-item {
    background-image: url('../../../../images/slideshow/main/keyboard-1920.jpg');
}
.app-home-carousel .third-item {
    background-image: url('../../../../images/slideshow/main/fibre2-1920.jpg');
}

.app-home-carousel .item-header,
.app-home-carousel .item-content {
    z-index: 20;

    text-align: center;

    color: #FFFFFF;
    text-shadow: 2px 2px 8px #000000;

    padding-left: 1.1rem;
    padding-right: 1.1rem;
}
.app-home-carousel .item-header {
    font-size: 3rem;
    font-weight: bold;

    margin-bottom: 1.4rem;
}
.app-home-carousel .item-content {
    font-size: 2rem;
    font-weight: normal;
}
