{% set blogArticle = extField %}
{% set blogTranslation = blogArticle.translation %}

<section class="app-main-image top-space-none bottom-space-small">

    <div class="main-image-bg article-header" style="background-image: url('{{ asset('/images/blog_article/' ~ blogArticle.headerImageFile) }}')">
        <h1 class="text-header"><mark>{{ blogTranslation.subject|raw }}</mark></h1>
    </div>

</section>

<section class="app-main-container blog-article-info-bar bottom-space-small">

    {{ form_start(form_vote_like_dislike) }}

    <section class="statistics-bar">

        <div class="statistic-item">
            <span class="statistic-number">{{ blogArticle.amountOfLike|number_format(0, '.', ' ') }}</span>
            {{ form_widget(form_vote_like_dislike.vote_like) }}
        </div>
        <div class="statistic-item">
            <span class="statistic-number">{{ blogArticle.amountOfNeutral|number_format(0, '.', ' ') }}</span>
            {{ form_widget(form_vote_like_dislike.vote_neutral) }}
        </div>
        <div class="statistic-item">
            <span class="statistic-number">{{ blogArticle.amountOfDislike|number_format(0, '.', ' ') }}</span>
            {{ form_widget(form_vote_like_dislike.vote_dislike) }}
        </div>
        <div class="statistic-item">
            <span class="statistic-number">{{ blogArticle.amountOfDisplay|number_format(0, '.', ' ') }}</span>
            <b>Wyświetlenia</b>
        </div>

    </section>

    {{ form_end(form_vote_like_dislike) }}

    <section class="tags-bar">

        {% for blogTag in blogArticle.tags %}

            <div class="tag-item">
                #{{ blogTag.name }}
            </div>

        {% endfor %}

    </section>

</section>

<section class="app-main-text">
    <article class="long-text">
        {{ blogTranslation.content|raw }}
    </article>
</section>

<section class="app-main-text article-signature bottom-space-large">
    <div class="text-muted signature-text">
        Artykuł dodał <a href="{{ path('app_about_me') }}" class="link">kosiak</a>.<br>
        Dodano o {{ blogArticle.created|date('H:i, d-m-Y') }}
    </div>
</section>
