{% set blogArticleCollection = extField %}

<section class="app-article-list top-space-large bottom-space-large">

{% for blogArticle in blogArticleCollection %}
    {% set blogTranslation = blogArticle.translation %}

    <section class="app-list-item-header">

        <div class="item-header-image" style="background-image: url('{{ asset('/images/blog_article/' ~ blogArticle.headerImageFile)}}');">
            <h1 class="text-header">
                <mark>
                    <a class="link article-link" href="{{ path('app_blog_article', {'articleId': blogArticle.id}) }}">{{ blogTranslation.subject }}</a>
                </mark>
            </h1>
        </div>

    </section>

    <section class="app-list-item-content{% if loop.index != loop.last %} article-item-bottom-space{% endif %}">

        <section class="item-content-tags-bar">

            {% for blogTag in blogArticle.tags %}
                <div class="tag-item">
                    #{{ blogTag.name }}
                </div>
            {% endfor %}

        </section>

        <section class="item-content-statistics-bar">
            <div class="statistic-item">
                Wyświetlono {{ blogArticle.amountOfDisplay|number_format(0, '.', ' ') }} razy
            </div>
            <div class="statistic-item">
                {{ blogArticle.amountOfLike|number_format(0, '.', ' ') }} / {{ blogArticle.amountOfNeutral|number_format(0, '.', ' ') }} / {{ blogArticle.amountOfDislike|number_format(0, '.', ' ') }}
            </div>
        </section>

        <section class="item-content">
            <div class="article-content">
                {{ blogTranslation.content|slice(0, 250)|raw }}
            </div>
            <div class="redirection-link">
                <a class="link" href="{{ path('app_blog_article', {'articleId': blogArticle.id}) }}">Czytaj więcej...</a>
            </div>
        </section>

    </section>

{% endfor %}

</section>
