.icon-container {
    display: flex;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: center;
    -webkit-align-items: center;
    padding: 4px 0;
}

.small-icon {
    width: 20px;
    height: 20px;
}

.icon-left {
    margin-right: 5px;
}
.icon-right {
    margin-left: 5px;
}
