.app-footer a.link {
    color: #FFFFFF;
    text-decoration: none;
}

.app-footer {
    display: flex;
    flex-flow: row wrap;
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 2.8rem 7rem 5rem;
    box-shadow: 0 7px 8px 10px rgba(0, 0, 0, 0.5);
}
.app-footer .app-footer-signature {
    width: 100%;
    text-align: center;
    padding: 0 0 2.5rem 0;
}

.app-footer .app-footer-columns {
    display: flex;
    width: 100%;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    margin: -1.2rem -0.6rem 0;
}

.app-footer .footer-col {
    display: flex;
    flex-direction: column;
    margin: 1.2rem 0.6rem 0;
}

.app-footer .footer-col .col-header {
    padding-bottom: 5px;
}

.app-footer .col-left .icon-container {
    justify-content: flex-start;
}
.app-footer .col-right .icon-container {
    justify-content: flex-end;
}


@media screen and (max-width: 991px) {
    .app-footer {
        padding: 2.8rem 6rem 5rem;
    }
}


@media screen and (max-width: 575px) {
    .app-footer {
        padding: 2.8rem 4.7rem 5rem;
    }

    .app-footer .app-footer-columns {
        justify-content: space-around;
    }

    .app-footer .footer-col {
        align-items: center;
    }
}
