body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

main {
    margin-top: 4.7rem;
    background-color: #FFFFFF;
}

main a.link {
    color: #0495FE;
    text-decoration: none;
}

main table tbody {
    font-size: 0.9rem;
}

@media screen and (max-width: 767px) {
    :root {
        font-size: 15px;
    }
}

@media screen and (max-width: 575px) {
    :root {
        font-size: 14px;
    }

    main {
        margin-top: 4rem;
    }
}
