<div class="form-group row align-items-end">
    <div class="col-8 col-sm-8 col-md-9 col-lg-10 form-label">
        {{ form_label(form_entity.fileName) }}
    </div>

    {% if form_entity.delete_entity is defined %}
        <div class="col-4 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-end">
            <div class="pb-4">
                {{ form_widget(form_entity.delete_entity) }}
            </div>
        </div>
    {% endif %}

    <div class="col-12">
        {{ form_widget(form_entity.fileName) }}
        {{ form_errors(form_entity.fileName) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_entity.filePath) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_entity.filePath) }}
        {{ form_errors(form_entity.filePath) }}
    </div>
</div>
