<div class="form-group row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="form-label">
            {{ form_label(form_entity.language) }}
        </div>
        <div>
            {{ form_widget(form_entity.language) }}
            {{ form_errors(form_entity.language) }}
        </div>
    </div>

    {% if form_entity.delete_entity is defined %}
        <div class="col-6 col-sm-8 col-md-9 col-lg-10 d-flex justify-content-end">
            <div class="pt-2">
                {{ form_widget(form_entity.delete_entity) }}
            </div>
        </div>
    {% endif %}

</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_entity.header) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_entity.header) }}
        {{ form_errors(form_entity.header) }}
    </div>
</div>
