{{ form_start(form_blog_article) }}

<div class="row">
    <div class="{% if css.errorField is defined %}{{ css.errorField }}{% endif %}">
        {{ form_errors(form_blog_article) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_blog_article.amountTranslations) }}
    </div>
    <div class="col-4 col-sm-3 col-md-2">
        {{ form_widget(form_blog_article.amountTranslations) }}
        {{ form_errors(form_blog_article.amountTranslations) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_blog_article.status) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_blog_article.status) }}
        {{ form_errors(form_blog_article.status) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        <div class="form-label">
            {{ form_label(form_blog_article.tags) }}
        </div>
        <div>
            {{ form_widget(form_blog_article.tags) }}
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_blog_article.headerImageFile) }}
    </div>
    <div class="col-12">
        {% set imageFileName = form_blog_article.headerImageFile.vars['value'] %}
        {% set imageFilePath = '/images/blog_article/' ~ imageFileName %}
        {% if imageFileName is not empty %}
            <div class="blog-article-header-bg-thumbnail" style="background-image: url('{{ imageFilePath }}');">
            </div>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6 mt-3">
        <div class="custom-file">
            {{ form_widget(form_blog_article.imageFile) }}
            {{ form_label(form_blog_article.imageFile) }}
            {{ form_errors(form_blog_article.imageFile) }}
        </div>
        {{ form_errors(form_blog_article.headerImageFile) }}
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 d-flex justify-content-end">
        {{ form_widget(form_blog_article.upload_image) }}
    </div>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-end pt-4">
        {{ form_widget(form_blog_article.submit_next_step) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_blog_article._token) }}
    </div>
</div>

{{ form_end(form_blog_article) }}
