{{ form_start(form_confirm_delete_blog_tag) }}

<div class="row">
    <div class="col-12 pt-4">
        {{ form_widget(form_confirm_delete_blog_tag.confirm_yes) }}
        {{ form_widget(form_confirm_delete_blog_tag.confirm_go_back) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_confirm_delete_blog_tag._token) }}
    </div>
</div>

{{ form_end(form_confirm_delete_blog_tag) }}