{{ form_start(form_confirm_delete) }}

<div class="row">
    <div class="col-12 pt-4">
        {{ form_widget(form_confirm_delete.confirm_yes) }}
        {{ form_widget(form_confirm_delete.confirm_go_back) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_confirm_delete._token) }}
    </div>
</div>

{{ form_end(form_confirm_delete) }}
