{{ form_start(form_blog_translations) }}

<div class="row">
    <div class="col-12">
        {{ form_errors(form_blog_translations) }}
    </div>
</div>

<div class="row d-flex justify-content-end no-gutters">
    <div>
        {{ form_widget(form_blog_translations.article_preview) }}
    </div>
    <div class="ml-3">
        {{ form_widget(form_blog_translations.clear_translations) }}
    </div>
</div>

<div class="card-divider mt-4 mb-3"></div>

{% for blog_translation in form_blog_translations.translations %}

    {% include 'default/form/blog/collection/blog_translation_form.html.twig' %}

    {% if loop.index != loop.last %}
        <div class="card-divider mt-5 mb-4"></div>
    {% endif %}

{% endfor %}

<div class="row d-flex justify-content-end no-gutters">
    <div class="d-inline-flex pt-3">
        {{ form_widget(form_blog_translations.add_translation) }}
    </div>
    <div class="d-inline-flex pl-3 pt-3">
        {{ form_widget(form_blog_translations.update_translations) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_blog_translations._token) }}
    </div>
</div>

{{ form_end(form_blog_translations) }}
