{{ form_start(form_search_blog) }}

<div class="row">
    <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="form-label">
            {{ form_label(form_search_blog.status) }}
        </div>
        <div>
            {{ form_widget(form_search_blog.status) }}
        </div>
    </div>
    <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="form-label">
            {{ form_label(form_search_blog.filterType) }}
        </div>
        <div>
            {{ form_widget(form_search_blog.filterType) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-12">
        <div class="form-label">
            {{ form_label(form_search_blog.tags) }}
        </div>
        <div>
            {{ form_widget(form_search_blog.tags) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-12 col-sm-4 col-md-3 col-xl-2">
        <div class="form-label">
            {{ form_label(form_search_blog.sortBy) }}
        </div>
        <div>
            {{ form_widget(form_search_blog.sortBy) }}
        </div>
    </div>
    <div class="form-group col-12 col-sm-4 col-md-3 col-xl-2">
        <div class="form-label">
            {{ form_label(form_search_blog.sortMethod) }}
        </div>
        <div>
            {{ form_widget(form_search_blog.sortMethod) }}
        </div>
    </div>
    <div class="form-group col-12 col-sm-4 col-md-3 col-xl-2">
        <div class="form-label">
            {{ form_label(form_search_blog.articlesPerPage) }}
        </div>
        <div>
            {{ form_widget(form_search_blog.articlesPerPage) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-9 col-xl-6 d-flex justify-content-end pt-1 pb-4">
        {{ form_widget(form_search_blog.submit) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 col-xl-8">
        {{ form_widget(form_search_blog._token) }}
    </div>
</div>

{{ form_end(form_search_blog) }}
