<div class="row">
    <div class="{% if css.errorField is defined %}{{ css.errorField }}{% endif %}">
        {{ form_errors(form_field_config) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_config.fieldConfig.fieldClass) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_field_config.fieldConfig.fieldClass) }}
        {{ form_errors(form_field_config.fieldConfig.fieldClass) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_config.fieldConfig.fieldName) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_field_config.fieldConfig.fieldName) }}
        {{ form_errors(form_field_config.fieldConfig.fieldName) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_config.fieldConfig.groupId) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_field_config.fieldConfig.groupId) }}
        {{ form_errors(form_field_config.fieldConfig.groupId) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_config.fieldConfig.controller) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_field_config.fieldConfig.controller) }}
        {{ form_errors(form_field_config.fieldConfig.controller) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_config.fieldConfig.method) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_field_config.fieldConfig.method) }}
        {{ form_errors(form_field_config.fieldConfig.method) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_config.fieldConfig.weight) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_field_config.fieldConfig.weight) }}
        {{ form_errors(form_field_config.fieldConfig.weight) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_config.fieldConfig.roles) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_field_config.fieldConfig.roles) }}
        {{ form_errors(form_field_config.fieldConfig.roles) }}
    </div>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-end pt-4">
        {{ form_widget(form_field_config.submit) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_field_config._token) }}
    </div>
</div>

{{ form_end(form_field_config) }}
