{{ form_start(form_field_config) }}

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_config.amountEntities) }}
    </div>
    <div class="col-4 col-sm-3 col-md-2 col-xl-1">
        {{ form_widget(form_field_config.amountEntities) }}
        {{ form_errors(form_field_config.amountEntities) }}
    </div>
</div>
