{{ form_start(form_field_entities) }}

<div class="row">
    <div class="col-12">
        {{ form_errors(form_field_entities) }}
    </div>
</div>

{% set template_name = '{entity_name}_form.html.twig'|replace({'{entity_name}':entity_template_name}) %}
{% set template_path = 'default/form/field/collection/{entity_template}'|replace({'{entity_template}':template_name}) %}

{% for form_entity in form_field_entities.entities %}

    {% include template_path %}

    {% if loop.index != loop.last %}
        <div class="card-divider mt-5 mb-4"></div>
    {% endif %}

{% endfor %}

<div class="row d-flex justify-content-end no-gutters">
    <div class="d-inline-flex pt-3">
        {{ form_widget(form_field_entities.add_entity) }}
    </div>
    <div class="d-inline-flex pl-3 pt-3">
        {{ form_widget(form_field_entities.update_entities) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_field_entities._token) }}
    </div>
</div>

{{ form_end(form_field_entities) }}
