{{ form_start(form_field_template) }}

<div class="row">
    <div class="{% if css.errorField is defined %}{{ css.errorField }}{% endif %}">
        {{ form_errors(form_field_template) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_field_template.fieldTemplate.dividerBefore) }}
        {{ form_errors(form_field_template.fieldTemplate.dividerBefore) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_field_template.fieldTemplate.dividerAfter) }}
        {{ form_errors(form_field_template.fieldTemplate.dividerAfter) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_field_template.fieldTemplate.smallDividerBefore) }}
        {{ form_errors(form_field_template.fieldTemplate.smallDividerBefore) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_field_template.fieldTemplate.smallDividerAfter) }}
        {{ form_errors(form_field_template.fieldTemplate.smallDividerAfter) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_template.fieldTemplate.arrayCss) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_field_template.fieldTemplate.arrayCss) }}
        {{ form_errors(form_field_template.fieldTemplate.arrayCss) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 form-label">
        {{ form_label(form_field_template.fieldTemplate.twigFunctionParameters) }}
    </div>
    <div class="col-12">
        {{ form_widget(form_field_template.fieldTemplate.twigFunctionParameters) }}
        {{ form_errors(form_field_template.fieldTemplate.twigFunctionParameters) }}
    </div>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-end pt-4">
        {{ form_widget(form_field_template.submit) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        {{ form_widget(form_field_template._token) }}
    </div>
</div>

{{ form_end(form_field_template) }}
