{{ form_start(form_search_field) }}

<div class="row">
    <div class="form-group col-12 col-sm-6 col-xl-4">
        <div class="form-label">
            {{ form_label(form_search_field.controller) }}
        </div>
        <div>
            {{ form_widget(form_search_field.controller) }}
        </div>
    </div>
    <div class="form-group col-12 col-sm-6 col-xl-4">
        <div class="form-label">
            {{ form_label(form_search_field.fieldClass) }}
        </div>
        <div>
            {{ form_widget(form_search_field.fieldClass) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-12 col-sm-4 col-md-6 col-xl-4">
        <div class="form-label">
            {{ form_label(form_search_field.sortBy) }}
        </div>
        <div>
            {{ form_widget(form_search_field.sortBy) }}
        </div>
    </div>
    <div class="form-group col-12 col-sm-4 col-md-3 col-xl-2">
        <div class="form-label">
            {{ form_label(form_search_field.sortMethod) }}
        </div>
        <div>
            {{ form_widget(form_search_field.sortMethod) }}
        </div>
    </div>
    <div class="form-group col-12 col-sm-4 col-md-3 col-xl-2">
        <div class="form-label">
            {{ form_label(form_search_field.fieldsPerPage) }}
        </div>
        <div>
            {{ form_widget(form_search_field.fieldsPerPage) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-8 d-flex justify-content-end pt-1 pb-4">
        {{ form_widget(form_search_field.submit) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-12 col-xl-8">
        {{ form_widget(form_search_field._token) }}
    </div>
</div>

{{ form_end(form_search_field) }}
