{% set contact_form = field.formView %}

{{ form_start(contact_form) }}

<div class="form-item-container">
    {{ form_errors(contact_form) }}
</div>

<div class="form-item-container form-group">
    <div class="new-form-label">
        {{ form_label(contact_form.from) }}
    </div>
    <div class="new-form-widget">
        {{ form_widget(contact_form.from) }}
        {{ form_errors(contact_form.from) }}
    </div>
</div>

<div class="form-item-container form-group">
    <div class="new-form-label">
        {{ form_label(contact_form.subject) }}
    </div>
    <div class="new-form-widget">
        {{ form_widget(contact_form.subject) }}
        {{ form_errors(contact_form.subject) }}
    </div>
</div>

<div class="form-item-container form-group">
    <div class="new-form-label">
        {{ form_label(contact_form.message) }}
    </div>
    <div class="new-form-widget">
        {{ form_widget(contact_form.message) }}
        {{ form_errors(contact_form.message) }}
    </div>
</div>

<div class="form-item-container form-button">
    {{ form_widget(contact_form.send) }}
</div>

<div class="form-item-container">
    {{ form_widget(contact_form._token) }}
</div>

{{ form_end(contact_form) }}
