{% set login_form = field.formView %}
{% set form_errors = field.formErrors %}

{{ form_start(login_form) }}

{% if form_errors is not empty %}

<div class="form-item-container">
    <div class="alert form-alert alert-danger" role="alert">
        {{ form_errors['pl'] }}
    </div>
</div>

{% endif %}

<div class="form-item-container form-group">
    <div class="new-form-label">
        {{ form_label(login_form._username) }}
    </div>
    <div class="new-form-widget">
        {{ form_widget(login_form._username, {full_name: '_username'}) }}
    </div>
</div>

<div class="form-item-container form-group">
    <div class="new-form-label">
        {{ form_label(login_form._password) }}
    </div>
    <div class="new-form-widget">
        {{ form_widget(login_form._password, {full_name: '_password'}) }}
    </div>
</div>

<div class="form-item-container form-button">
    {{ form_widget(login_form.log_in) }}
</div>

<div class="form-item-container">
    {{ form_widget(login_form._token, {full_name: '_csrf_token'}) }}
</div>

{{ form_end(login_form) }}
