{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% if fields['show_field_header'] is defined %}

        {% set fieldObject = fields['show_field_header'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% if fields['show_field_description'] is defined %}

        {% set fieldObject = fields['show_field_description'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-end">

            {% if fields['show_field_list_btn'] is defined %}

                {% set fieldObject = fields['show_field_list_btn'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

            <div class="d-inline-flex mt-3">

                {% if fields['show_field_edit_btn'] is defined %}

                    {% set fieldObject = fields['show_field_edit_btn'] %}
                    {% include 'default/field/field_templates.html.twig' %}

                {% endif %}

                {% if fields['show_field_delete_btn'] is defined %}

                    {% set fieldObject = fields['show_field_delete_btn'] %}
                    {% include 'default/field/field_templates.html.twig' %}

                {% endif %}
            </div>

        </div>
    </div>

    <div class="row row-divider"></div>

    {% set describedField = described_field %}

    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-header">

                    <h6 class="small-header pb-0 pl-2">Field Config</h6>

                </div>
                <div class="card-body">

                    {% set describedConfig = describedField.config %}

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-5 col-md-4 col-lg-3">
                            Config Id:
                        </div>
                        <div class="col-7 col-md-8 col-lg-9">
                            {{ describedConfig.id }}
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Field name:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedConfig.fieldName }}</code>
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-5 col-md-4 col-lg-3">
                            Weight:
                        </div>
                        <div class="col-7 col-md-8 col-lg-9">
                            {{ describedConfig.weight }}
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Roles:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedConfig.roles|join(', ') }}</code>
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Field PHP class:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedConfig.fieldClass }}</code>
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Controller PHP class:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedConfig.controller }}</code>
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Controller method:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedConfig.method }}</code>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row row-divider"></div>

    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-header">

                    <h6 class="small-header pb-0 pl-2">Field Template</h6>

                </div>
                <div class="card-body">

                    {% set describedTemplate = describedField.template %}

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            Template id:
                        </div>
                        <div class="col-6 col-sm-7 col-md-8 col-lg-9">
                            {{ describedTemplate.id }}
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            Divider before:
                        </div>
                        <div class="col-6 col-sm-7 col-md-8 col-lg-9">
                            {{ describedTemplate.dividerBefore ? 'Yes' : 'No' }}
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            Divider After:
                        </div>
                        <div class="col-6 col-sm-7 col-md-8 col-lg-9">
                            {{ describedTemplate.dividerAfter ? 'Yes' : 'No' }}
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            Small divider before:
                        </div>
                        <div class="col-6 col-sm-7 col-md-8 col-lg-9">
                            {{ describedTemplate.smallDividerBefore ? 'Yes' : 'No' }}
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            Small divider after:
                        </div>
                        <div class="col-6 col-sm-7 col-md-8 col-lg-9">
                            {{ describedTemplate.smallDividerAfter ? 'Yes' : 'No' }}
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Twig parameters:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedTemplate.twigFunctionParameters }}</code>
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            CSS Styles:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            {% for cssKey, cssValue in describedTemplate.arrayCss %}
                                <code>{{ cssKey }}: {{ cssValue }}</code><br>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="row row-divider"></div>

    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-header">

                    <h6 class="small-header pb-0 pl-2">Field Entities</h6>

                </div>
                <div class="card-body">

                {% for describedEntity in describedField.entities %}

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-5 col-md-4 col-lg-3">
                            Data id:
                        </div>
                        <div class="col-7 col-md-8 col-lg-9">
                            {{ describedEntity.dataId }}
                        </div>
                    </div>

                    {% if describedEntity.language is defined %}
                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-5 col-md-4 col-lg-3">
                            Language:
                        </div>
                        <div class="col-7 col-md-8 col-lg-9">
                            {{ describedEntity.language }}
                        </div>
                    </div>
                    {% endif %}

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-5 col-md-4 col-lg-3">
                            User id:
                        </div>
                        <div class="col-7 col-md-8 col-lg-9">
                            {{ describedEntity.userId }}
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Modified:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            {{ describedEntity.modified|date('Y-m-d H:i:s') }}
                        </div>
                    </div>

                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Template path:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedEntity.templatePath }}</code>
                        </div>
                    </div>

                    {% if describedEntity.type is defined %}
                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Type of data:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedEntity.type }}</code>
                        </div>
                    </div>
                    {% endif %}

                    {% if describedEntity.label is defined %}
                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Label:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            {{ describedEntity.label }}
                        </div>
                    </div>
                    {% endif %}

                    {% if describedEntity.content is defined %}
                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Content:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            {{ describedEntity.content|join(', ') }}
                        </div>
                    </div>
                    {% endif %}

                    {% if describedEntity.formTemplatePath is defined %}
                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Form template:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedEntity.formTemplatePath }}</code>
                        </div>
                    </div>
                    {% endif %}

                    {% if describedEntity.redirectPath is defined %}
                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Redirect path:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedEntity.redirectPath }}</code>
                        </div>
                    </div>
                    {% endif %}

                    {% if describedEntity.filePath is defined %}
                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            File path:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedEntity.filePath }}</code>
                        </div>
                    </div>
                    {% endif %}

                    {% if describedEntity.fileName is defined %}
                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            File name:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedEntity.fileName }}</code>
                        </div>
                    </div>
                    {% endif %}

                    {% if describedEntity.paginationPath is defined %}
                    <div class="row pb-3 pb-sm-1 no-gutters">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Pagination path:
                        </div>
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                            <code>{{ describedEntity.paginationPath }}</code>
                        </div>
                    </div>
                    {% endif %}

                    {% if describedEntity.entityClassName is defined %}
                        <div class="row pb-3 pb-sm-1 no-gutters">
                            <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                                Entity class name:
                            </div>
                            <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                                <code>{{ describedEntity.entityClassName }}</code>
                            </div>
                        </div>
                    {% endif %}

                    {% if describedEntity.entityLoaderFactory is defined %}
                        <div class="row pb-3 pb-sm-1 no-gutters">
                            <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                                Entity loader factory:
                            </div>
                            <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                                <code>{{ describedEntity.entityLoaderFactory }}</code>
                            </div>
                        </div>
                    {% endif %}

                    {% if describedEntity.entityLoader is defined %}
                        <div class="row pb-3 pb-sm-1 no-gutters">
                            <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                                Entity loader:
                            </div>
                            <div class="col-12 col-sm-7 col-md-8 col-lg-9 ml-3 ml-sm-0">
                                <code>{{ describedEntity.entityLoader }}</code>
                            </div>
                        </div>
                    {% endif %}

                    {% if loop.index != loop.last %}
                        <div class="card-divider"></div>
                    {% endif %}

                {% endfor %}

                </div>
            </div>

        </div>
    </div>

</section>

{% endblock %}
