{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% if fields['edit_field_header'] is defined %}

        {% set fieldObject = fields['edit_field_header'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    {% if fields['edit_field_description'] is defined %}

        {% set fieldObject = fields['edit_field_description'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-end">

            {% if fields['edit_field_list_btn'] is defined %}

                {% set fieldObject = fields['edit_field_list_btn'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

            <div class="d-inline-flex mt-3">

                {% if fields['edit_field_delete_btn'] is defined %}

                    {% set fieldObject = fields['edit_field_delete_btn'] %}
                    {% include 'default/field/field_templates.html.twig' %}

                {% endif %}
            </div>

        </div>
    </div>

    <div class="row row-divider"></div>

    <div class="card">
        <div class="card-header">

            <h6 class="small-header pb-0 pl-2">Field Config</h6>

        </div>
        <div class="card-body">

            {% include 'default/form/field/edit_field_config_form.html.twig' %}

        </div>
    </div>

    <div class="row row-divider"></div>

    <div class="card">
        <div class="card-header">

            <h6 class="small-header pb-0 pl-2">Field Template</h6>

        </div>
        <div class="card-body">

            {% include 'default/form/field/edit_field_template_form.html.twig' %}

        </div>
    </div>

    <div class="row row-divider"></div>

    <div class="card">
        <div class="card-header">

            <h6 class="small-header pb-0 pl-2">Field Entities</h6>

        </div>
        <div class="card-body">

            {% include 'default/form/field/edit_field_entities_form.html.twig' %}

        </div>
    </div>

</section>

{% endblock %}
