{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% for fieldObject in fields|slice(0, 2) %}

        {% include 'default/field/field_templates.html.twig' %}

    {% endfor %}

    {% if form_field_config is defined %}
    <div class="card">
        <div class="card-header">

            <h6 class="small-header pb-0 pl-2">Field Options</h6>

        </div>
        <div class="card-body">

            {% include 'default/form/field/add_field_options_form.html.twig' %}

        </div>
    </div>

    <div class="row row-divider"></div>

    <div class="card">
        <div class="card-header">

            <h6 class="small-header pb-0 pl-2">Field Config</h6>

        </div>
        <div class="card-body">

            {% include 'default/form/field/add_field_config_form.html.twig' %}

        </div>
    </div>
    {% endif %}

    {% if form_field_template is defined %}
    <div class="card">
        <div class="card-header">

            <h6 class="small-header pb-0 pl-2">Field Template</h6>

        </div>
        <div class="card-body">

            {% include 'default/form/field/add_field_template_form.html.twig' %}

        </div>
    </div>
    {% endif %}

    {% if form_field_entities is defined %}
    <div class="card">
        <div class="card-header">

            <h6 class="small-header pb-0 pl-2">Field Entities</h6>

        </div>
        <div class="card-body">

            {% include 'default/form/field/add_field_entities_form.html.twig' %}

        </div>
    </div>
    {% endif %}

</section>

{% endblock %}
