{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% if fields['list_fields_header'] is defined %}

        {% set fieldObject = fields['list_fields_header'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

    <div class="row">
        <div class="col-12 col-sm-8 col-md-9">

            {% if fields['list_fields_description'] is defined %}

                {% set fieldObject = fields['list_fields_description'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>
        <div class="col-12 col-sm-4 col-md-3">

            {% if fields['list_fields_btn_new_field'] is defined %}

                {% set fieldObject = fields['list_fields_btn_new_field'] %}
                {% include 'default/field/field_templates.html.twig' %}

            {% endif %}

        </div>
    </div>

    {% include 'default/form/field/list_field_search_form.html.twig' %}

    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Id
            </th>
            <th scope="col">
                Field name
            </th>
            <th scope="col">
                Controller
            </th>
            <th scope="col">
                Method
                </th>
            <th scope="col">
                Field class
            </th>
            <th scope="col">
                Weight
            </th>
            <th scope="col">
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>

    {% for fieldObject in list_fields %}

        {% set config = fieldObject.config %}

        <tr>
            <th scope="row">
                {{ config.id }}
            </th>
            <td>
                <a href="{{ path('show_field', {'configId': config.id}) }}" class="link">
                    {{ config.fieldName|replace({'_': ' '}) }}
                </a>
            </td>
            <td>
                {{ config.controller|split('\\')|last }}
            </td>
            <td>
                {{ config.method }}
            </td>
            <td>
                {{ config.fieldClass|split('\\')|last }}
            </td>
            <td>
                {{ config.weight }}
            </td>
            <td>
                <a class="btn btn-outline-success btn-sm" href="/admin/field/edit/{{ config.id }}" role="button">Edit</a>
            </td>
            <td>
                <a class="btn btn-outline-danger btn-sm" href="/admin/field/delete/{{ config.id }}" role="button">Delete</a>
            </td>
        </tr>

    {% endfor %}

    </tbody>
    </table>
    </div>

    {% if fields['list_fields_pagination'] is defined %}

        {% set fieldObject = fields['list_fields_pagination'] %}
        {% include 'default/field/field_templates.html.twig' %}

    {% endif %}

</section>

{% endblock %}
