{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<section class="app-main-container top-space-large bottom-space-large">

    {% for fieldObject in fields %}

        {% include 'default/field/field_templates.html.twig' %}

    {% endfor %}

</section>

{% endblock %}
