.mobile-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-dark-black {
    background-color: rgba(0, 0, 0, 0.85) !important;
}
.bg-medium-black {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.bg-light-black {
    background-color: rgba(0, 0, 0, 0.4) !important;
}
