.app-navbar-main-menu .navbar-toggler {
    justify-self: end;
    width: 2.2rem;
    height: 2rem;
    padding: 0;
    border: none;
    border-radius: 0;
    border-top: solid 0.25rem rgba(255, 255, 255, 1);
    position: relative;
}
.app-navbar-main-menu .navbar-toggler::before,
.app-navbar-main-menu .navbar-toggler::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: solid 0.25rem rgba(255, 255, 255, 1);
    transform: translateY(0.65rem);
}
.app-navbar-main-menu .navbar-toggler::after {
    transform: translateY(1.5rem);
}
