.app-navbar-main-menu {
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, 0.85);

    justify-content: flex-end;
}

.app-navbar-main-menu .navbar-collapse {
    justify-content: flex-end;
}
.app-navbar-main-menu .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.app-navbar-main-menu .nav-item {
    padding: 0 0.2rem;
    background: transparent;
}
.app-navbar-main-menu .dropdown-item {
    display: block;
    padding: 0;
    background: transparent;
}

.app-navbar-main-menu .nav-item:not(.active) > .nav-link {
    border: none;
    border-bottom: solid 0.2rem transparent;
}
.app-navbar-main-menu .nav-item.active > .nav-link {
    border: none;
    border-bottom: solid 0.2rem #0495FE;
}
.app-navbar-main-menu .dropdown-item.active > .dropdown-link {
    border: none;
    color: #0495FE;
}

.app-navbar-main-menu .nav-link,
.app-navbar-main-menu .dropdown-link {
    display: block;
    color: #FFFFFF;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}
.app-navbar-main-menu .dropdown-link {
    padding: 0.5rem 1rem;
}

.app-navbar-main-menu .nav-link:hover,
.app-navbar-main-menu .dropdown-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app-navbar-main-menu .dropdown-menu {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.85);
    transform: translateY(1rem);
}

.app-navbar-main-menu .dropdown-divider {
    margin: 0.5rem 1.1rem;
    border: none;
    border-top: solid 2px rgba(4, 149, 254, 0.3);
}

.app-navbar-main-menu .dropdown-menu-right {
    left: auto;
    right: -1px;
}
.app-navbar-main-menu .dropdown-submenu.dropdown-menu-right {
    top: 0;
    left: auto;
    right: 100%;
}

.dropup-toggle::after {
    display: inline-block;
    content: '';
    border-top: 0;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-bottom: 0.3rem solid;
    transform: translateX(3px) translateY(0);
}
.dropleft-toggle::before {
    display: inline-block;
    content: '';
    border-top: 0.3rem solid transparent;
    border-left: 0;
    border-right: 0.3rem solid;
    border-bottom: 0.3rem solid transparent;
    transform: translateX(-3px) translateY(-2px);
}
