@media screen and (max-width: 575px) {
    .app-navbar-main-menu {
        background-color: rgba(0, 0, 0, 0.85);
    }

    .app-navbar-main-menu .navbar-nav {
        margin: 1rem 0;
        flex-direction: column;
    }

    .app-navbar-main-menu .dropdown-menu,
    .app-navbar-main-menu .dropdown-item {
        background-color: transparent;
    }

    .app-navbar-main-menu .nav-item {
        border: none;
    }

    .app-navbar-main-menu .nav-item,
    .app-navbar-main-menu .dropdown-item {
        padding: 0;
    }

    .app-navbar-main-menu .nav-link,
    .app-navbar-main-menu .dropdown-link {
        display: block;
        padding: 0.5rem 0;
        text-decoration: none;
    }

    .app-navbar-main-menu .nav-item.active .nav-link,
    .app-navbar-main-menu .dropdown-item.active > .dropdown-link {
        border: none;
        color: #0495FE;
    }

    .app-navbar-main-menu .nav-link,
    .app-navbar-main-menu .dropdown-link {
        text-align: center;
    }

    .app-navbar-main-menu .dropdown-divider {
        border: none;
        margin: 0.5rem 40%;
        border-top: solid 1px rgba(4, 149, 254, 0.3);
    }
}
