.article-header {
    align-items: flex-end;
    padding: 0 4rem;
    color: #FFFFFF;
    background-position: center center;
}
.article-header h1 {
    margin-bottom: 4.8rem;
}
.article-header mark {
    display: inline-flex;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.35);
    padding: 0.3rem 0.6rem;
}

.article-signature {
    line-height: 2rem;
}
.signature-text {
    text-align: left;
}

.blog-article-info-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 3rem;
}
.blog-article-info-bar > form {
    width: auto;
}

.statistics-bar {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.3rem;
}
.tags-bar {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.3rem;
}

.statistic-item {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 1rem 1rem;
}
.tag-item {
    display: flex;
    align-items: center;
    color: rgba(4, 149, 254, 1);
    padding: 0 1rem 1rem;
}

.statistic-number {
    font-size: 1.6rem;
}

.blog-article-vote {
    padding: 0;
    margin: 0;
    font-weight: bold;
    border: none;
    color: rgba(4, 149, 254, 1);
}
.blog-article-vote:hover {
    color: rgba(4, 149, 254, 1);
}

@media screen and (max-width: 991px) {
    .article-header {
        padding: 0 3rem;
        color: #FFFFFF;
    }

    .blog-article-info-bar {
        padding: 0 2rem;
    }

    .statistic-item {
        padding: 0 1rem 1rem;
    }
    .tag-item {
        padding: 0 1rem 1rem;
    }
}

@media screen and (max-width: 767px) {
    .article-header {
        padding: 0 2.3rem;
        color: #FFFFFF;
    }

    .blog-article-info-bar {
        padding: 0 1.3rem;
    }

    .tags-bar {
        justify-content: space-around;
    }

    .statistic-item {
        padding: 0 1rem 1rem;
    }
    .tag-item {
        padding: 0 1rem 1rem;
    }
}

@media screen and (max-width: 575px) {
    .article-header {
        padding: 0 1.7rem;
        color: #FFFFFF;
    }

    .blog-article-info-bar {
        flex-flow: column nowrap;
        align-items: center;
        padding: 0 0.7rem;
    }
    .blog-article-info-bar > form {
        width: 100%;
    }

    .statistics-bar {
        justify-content: space-around;
    }
    .tags-bar {
        justify-content: flex-start;
        margin-left: 0;
    }

    .statistic-item {
        width: 40%;
        padding: 0 0 1.2rem;
    }
    .tag-item {
        padding: 0 1rem 1.2rem;
    }
}
