.shadow-inside {
    box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.5) inset, 0 -10px 8px -10px rgba(0, 0, 0, 0.5) inset;
}
.shadow-inside-top {
    box-shadow: 0 12px 8px -10px rgba(0, 0, 0, 0.5) inset;
}
.shadow-inside-bottom {
    box-shadow: 0 -10px 8px -10px rgba(0, 0, 0, 0.5) inset;
}
.shadow-outside-top {
    box-shadow: 0 -10px 8px -10px rgba(0, 0, 0, 0.5);
}
.shadow-outside-bottom {
    box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.5);
}


.top-space-homepage {
    margin-top: 2rem !important;
}

.top-space-none {
    margin-top: 0 !important;
}
.top-space-large {
    margin-top: 3.5rem !important;
}

.bottom-space-none {
    margin-bottom: 0 !important;
}
.bottom-space-small {
    margin-bottom: 2rem !important;
}
.bottom-space-large {
    margin-bottom: 6rem !important;
}

@media screen and (max-width: 991px) {
    .top-space-homepage {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    .top-space-large {
        margin-top: 3rem !important;
    }
}
