.app-article-list {
    display: flex;
    flex-flow: column wrap;
}

.app-list-item-header {
    display: flex;
    flex-flow: column wrap;
    padding: 0 4rem;
}

.app-list-item-content {
    display: flex;
    flex-flow: column wrap;
    padding: 0 4rem;
}

.article-item-bottom-space {
    margin: 0 0 3.5rem 0;
}

.item-header-image {
    display: flex;
    align-items: flex-end;
    height: 280px;
    color: #FFFFFF;
    padding: 0 4rem;
    background-size: cover;
    background-position: center center;
}
.item-header-image h1 {
    margin: 0 0 2.5rem 0;
}
.item-header-image mark {
    display: inline-flex;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.35);
    padding: 0.3rem 0.6rem;
}
.item-header-image a.article-link {
    color: #FFFFFF;
    text-decoration: none;
}

.item-content-tags-bar {
    display: flex;
    flex-flow: row wrap;
    padding: 1.3rem 0 0.3rem;
    margin: 0 -1rem 0 -1rem;
}
.tag-item {
    color: rgba(4, 149, 254, 1);
    padding: 0 1rem 1rem;
}

.item-content-statistics-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #868686;
    padding: 0 0 1.3rem;
    margin: 0 -1rem 0 -1rem;
}
.statistic-item {
    padding: 0 1rem 1rem;
}

.item-content {
    display: flex;
    flex-flow: column;
}
.item-content .article-content {
    margin-bottom: 1.8rem;
}
.item-content .redirection-link {
    align-self: flex-end;
    padding-right: 1.5rem;
}


@media screen and (max-width: 991px) {
    .app-list-item-header {
        padding: 0 3rem;
    }

    .item-header-image {
        padding: 0 3rem;
    }

    .app-list-item-content {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 767px) {
    .app-list-item-header {
        padding: 0;
    }

    .item-header-image {
        padding: 0 2.3rem;
    }

    .app-list-item-content {
        padding: 0 2.3rem;
    }
}

@media screen and (max-width: 575px) {
    .app-list-item-header {
        padding: 0;
    }

    .item-header-image {
        padding: 0 1.7rem;
    }

    .app-list-item-content {
        padding: 0 1.7rem;
    }
}
