.app-main-card-text {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: -2rem 0 4rem 0;
    padding: 0 3.5rem;
}

.card-box {
    flex: 1;
    text-align: center;
    margin: 2rem 0.5rem 0;
    padding: 1.5rem 1rem 2rem;
    border: solid 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.5);
}

.card-box article.long-text {
    line-height: 2rem;
    text-align: center;
}

.three-cards {
    min-width: 250px;
    max-width: 350px;
}

@media screen and (max-width: 991px) {
    .app-main-card-text {
        padding: 0 2.5rem;
    }
}

@media screen and (max-width: 767px) {
    .app-main-card-text {
        padding: 0 1.8rem;
    }
}

@media screen and (max-width: 575px) {
    .app-main-card-text {
        flex-flow: column wrap;
        justify-content: stretch;
        padding: 0 1.2rem;
    }

    .card-box {
        max-width: none;
    }
}
