.app-main-container {
    /*display: flex;*/
    /*flex-flow: column wrap;*/
    margin: 0 0 4rem 0;
    padding: 0 4rem;
    border: none;
}

@media screen and (max-width: 991px) {
    .app-main-container {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 767px) {
    .app-main-container {
        padding: 0 2.3rem;
    }
}

@media screen and (max-width: 575px) {
    .app-main-container {
        padding: 0 1.7rem;
    }
}
