.app-main-flash-message {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
}

.alert {
    border-radius: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 6.25rem 2rem 4rem;
}
.form-alert {
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
}

.alert-dismissible .close {
    top: 1.15rem;
    right: 2.75rem;
}

/*main .content-not-found-alert {*/
/*margin-top: 0;*/
/*margin-bottom: 0.8rem;*/
/*border-radius: 0;*/
/*padding-top: 0.5rem;*/
/*padding-bottom: 0.5rem;*/
/*}*/

@media screen and (max-width: 991px) {
    .alert {
        padding: 2rem 5.25rem 2rem 3rem;
    }
    .form-alert {
        padding: 1rem 1.5rem;
    }

    .alert-dismissible .close {
        right: 1.75rem;
    }
}

@media screen and (max-width: 767px) {
    .alert {
        padding: 2rem 4.55rem 2rem 2.3rem;
    }
    .form-alert {
        padding: 1rem 1.5rem;
    }

    .alert-dismissible .close {
        right: 1.05rem;
    }
}

@media screen and (max-width: 575px) {
    .alert {
        padding: 2rem 3.95rem 2rem 1.7rem;
    }
    .form-alert {
        padding: 1rem 1.15rem;
    }

    .alert-dismissible .close {
        right: 0.45rem;
    }
}
