.app-main-image {
    display: flex;
    flex-flow: row nowrap;
    border: none;
    margin: 0 0 4rem 0;
}

.main-image-bg {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 400px;

    background-size: cover;
    background-position-y: center;
}
