.app-main-profile {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 4rem;
    padding: 0 4rem;
    border: none;
}

.app-main-profile .profile-avatar {
    flex: 1;
}
.app-main-profile .profile-content {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    flex: 3;
    margin-left: 3rem;
}

.profile-avatar .about-me-avatar {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.profile-content .long-text {
    width: 80%;
}

.profile-social-icon-bar {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    padding-top: 1.5rem;
}

.profile-social-icon-bar .icon-container {
    padding-right: 2rem;
}
.profile-social-icon-bar .icon-container:last-child {
    padding-right: 0;
}

@media screen and (max-width: 991px) {
    .app-main-profile {
        padding: 0 3rem;
    }

    .profile-avatar .about-me-avatar {
        width: 250px;
        height: 250px;
    }

    .profile-content .long-text {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .app-main-profile {
        flex-direction: column;
        padding: 0 2.3rem;
    }

    .app-main-profile .profile-content {
        margin-left: 0;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 575px) {
    .app-main-profile {
        flex-direction: column;
        padding: 0 1.7rem;
    }

    .app-main-profile .profile-avatar {
        display: flex;
        justify-content: space-around;
    }

    .profile-avatar .about-me-avatar {
        width: 200px;
        height: 200px;
    }

    .profile-content,
    .profile-content .profile-text {
        text-align: center;
    }

    .profile-social-icon-bar {
        justify-content: space-around;
    }
    .profile-social-icon-bar .icon-container {
        padding: 0 0.5rem;
    }
}
