.app-main-text-img {
    display: flex;
    flex-flow: row wrap;
    border: none;
    clear: both;
}

.app-main-text-img .header-image-bar {
    display: none;
    background-size: cover;
    background-position: center center;
    align-items: flex-end;
}

.app-main-text-img .content-image {
    display: inline-flex;
    align-self: stretch;
    width: 50%;
    background-size: cover;
    background-position: center center;
}

.app-main-text-img .content-text {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}

.left-side-img {
    margin: 0 0 4rem 0;
    padding: 0 4rem 0 0;
}
.left-side-img .content-text {
    padding: 3rem 0 3rem 2rem;
}

.right-side-img {
    margin: 0 0 4rem 0;
    padding: 0 0 0 4rem;
}
.right-side-img .content-text {
    padding: 3rem 2rem 3rem 0;
}

@media screen and (max-width: 991px) {
    .app-main-text-img {
        flex-flow: column wrap;
        margin: 0 0 4rem 0;
        padding: 0;
    }

    .app-main-text-img .header-image-bar {
        display: flex;
        height: 280px;
        padding: 0 3rem 2rem;
    }
    .header-image-bar .text-header {
        color: #FFFFFF;
    }

    .app-main-text-img .content-text {
        width: 100%;
        padding: 2rem 3rem 0 3rem;
    }
    .app-main-text-img .content-text h1 {
        display: none;
    }

    .app-main-text-img .content-image {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .app-main-text-img {
        flex-flow: column wrap;
        margin: 0 0 4rem 0;
        padding: 0;
    }

    .app-main-text-img .header-image-bar {
        display: flex;
        height: 280px;
        padding: 0 1.7rem;
    }
    .header-image-bar .text-header {
        color: #FFFFFF;
    }

    .app-main-text-img .content-text {
        width: 100%;
        padding: 1.5rem 1.7rem 0 1.7rem;
    }
    .app-main-text-img .content-text h1 {
        display: none;
    }

    .app-main-text-img .content-image {
        display: none;
    }
}
