.app-main-time-line {
    display: flex;
    flex-flow: column wrap;
    margin: 0 0 4rem 0;
    padding: 0 4rem;
    border: none;
}

.tl-row {
    display: flex;
    flex-flow: row nowrap;
}

.tl-track-header,
.tl-track-content {
    display: block;
    width: 100px;
    height: auto;
    position: relative;
}

.tl-item-header,
.tl-item-content {
    display: flex;
    flex: 1;
    margin: 0.8rem 0;
}
.tl-item-content {
    margin: 0 0 0.8rem;
}
h1.tl-text-header {
    margin: 0;
}


.tl-track-header::before,
.tl-track-header::after,
.tl-track-content::before {
    content: '';
    display: block;
    position: absolute;
}
.tl-track-header::before {
    top: 0;
    left: 50%;
    width: 5px;
    height: 101%;
    background-color: rgba(4, 149, 254, 1);
    transform: translateX(-50%);
}
.tl-track-header::after {
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(4, 149, 254, 1);
    border-radius: 50%;
    border: solid 5px rgba(255, 255, 255, 1);
    transform: translate(-50%, -50%);
}

.tl-track-content::before {
    top: 0;
    left: 50%;
    width: 5px;
    height: 101%;
    background-color: rgba(4, 149, 254, 1);
    transform: translateX(-50%);
}


@media screen and (max-width: 991px) {
    .app-main-time-line {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 767px) {
    .app-main-time-line {
        padding: 0 2.3rem;
    }

    .tl-track-header,
    .tl-track-content {
        width: 70px;
    }
}

@media screen and (max-width: 575px) {
    .app-main-time-line {
        padding: 0 1.7rem 0 0.5rem;
    }

    .tl-item-header {
        margin-left: 1rem;
    }
    .tl-item-content {
        margin-left: 0.5rem;
    }

    .tl-track-header,
    .tl-track-content {
        width: 40px;
    }

    .tl-track-header::after {
        width: 35px;
        height: 35px;
    }
}
