<div class="row{% if css.row is defined %} {{ css.row }}{% endif %}">

    <div class="{% if css.col is defined %} {{ css.col }}{% else %}col{% endif %}">

        <a href="{{ field.filePath }}" class="{% if css.link is defined %}{{ css.link }}{% endif %}">
            {{ field.fileName }}
        </a>

    </div>

</div>
