{% if field.redirectUrl %}
<a href="{{ field.redirectUrl }}">
    {% endif %}

    <img src="{{ asset(field.filePath) }}" class="{% if css.image is defined %}{{ css.image }}{% endif %}" />

    {% if field.redirectUrl %}
</a>
{% endif %}
