{% set htmlAllowedTags = tpl.twigFunctionParameters %}

{% if htmlAllowedTags is same as('') %}
    {% set htmlAllowedTags = '<p><a><br>' %}
{% endif %}

<article class="{% if css.content is defined %}{{ css.content }}{% else %}long-text{% endif %}">

    {% if field.type is same as('filtered_html') %}
        {{ field.longText|striptags(htmlAllowedTags)|raw }}

    {% elseif field.type is same as('plain_text') %}
        {{ field.longText }}

    {% endif %}

</article>
