<div class="row{% if css.row is defined %} {{ css.row }}{% endif %}">

    <div class="{% if css.col is defined %} {{ css.col }}{% else %}col{% endif %}">

        <nav aria-label="Page navigation">
            <ul class="pagination{% if css.ul is defined %} {{ css.ul }}{% else %} justify-content-center{% endif %}">

                {% if pagination.numberOfPages == 0 %}

                    <li class="page-item disabled">
                        <a class="page-link" href="{{ field.paginationPath }}{{ pagination.previousPage }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="{{ field.paginationPath }}1">1</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="{{ field.paginationPath }}{{ pagination.nextPage }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                {% else %}

                    {% for i in 1..pagination.numberOfPages %}

                        {% if loop.first %}
                            <li class="page-item{% if pagination.previousPage is null %} disabled{% endif %}">
                                <a class="page-link" href="{{ field.paginationPath }}{{ pagination.previousPage }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% if pagination.currentPage >= 3 %}
                            {#{% if pagination.currentPage >= 4 %}#}
                                <li class="page-item">
                                    <a class="page-link" href="{{ field.paginationPath }}1">1</a>
                                </li>
                            {% endif %}
                            {% if pagination.currentPage >= 4 %}
                            {#{% if pagination.currentPage >= 5 %}#}
                                <li class="page-item disabled">
                                    <a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">...</a>
                                </li>
                            {% endif %}

                        {% endif %}

                        {#{% if loop.index == (pagination.currentPage - 2) %}#}
                            {#<li class="page-item{% if loop.index == pagination.currentPage %} active{% endif %}">#}
                                {#<a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">{{ loop.index }}</a>#}
                            {#</li>#}
                        {% if loop.index == (pagination.currentPage - 1) %}
                            <li class="page-item{% if loop.index == pagination.currentPage %} active{% endif %}">
                                <a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">{{ loop.index }}</a>
                            </li>
                        {% elseif loop.index == (pagination.currentPage) %}
                            <li class="page-item{% if loop.index == pagination.currentPage %} active{% endif %}">
                                <a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">{{ loop.index }}</a>
                            </li>
                        {% elseif loop.index == (pagination.currentPage + 1) %}
                            <li class="page-item{% if loop.index == pagination.currentPage %} active{% endif %}">
                                <a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">{{ loop.index }}</a>
                            </li>
                        {#{% elseif loop.index == (pagination.currentPage + 2) %}#}
                            {#<li class="page-item{% if loop.index == pagination.currentPage %} active{% endif %}">#}
                                {#<a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">{{ loop.index }}</a>#}
                            {#</li>#}
                        {% endif %}



                        {#{% if loop.index > 3 %}#}
                            {#<li class="page-item">#}
                                {#<a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">...</a>#}
                            {#</li>#}
                        {#{% elseif loop.index == (loop.length - 1) %}#}
                            {#<li class="page-item{% if loop.index == pagination.currentPage %} active{% endif %}">#}
                                {#<a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">{{ loop.index }}</a>#}
                            {#</li>#}
                        {#{% else %}#}
                            {#<li class="page-item{% if loop.index == pagination.currentPage %} active{% endif %}">#}
                                {#<a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">{{ loop.index }}</a>#}
                            {#</li>#}
                        {#{% endif %}#}


                        {% if loop.last %}
                            {#{% if pagination.currentPage <= (loop.length - 4) %}#}
                            {% if pagination.currentPage <= (loop.length - 3) %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="{{ field.paginationPath }}{{ loop.index }}">...</a>
                                </li>
                            {% endif %}
                            {#{% if pagination.currentPage <= (loop.length - 3) %}#}
                            {% if pagination.currentPage <= (loop.length - 2) %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ field.paginationPath }}{{ loop.length }}">{{ loop.length }}</a>
                                </li>
                            {% endif %}
                            <li class="page-item{% if pagination.nextPage is null %} disabled{% endif %}">
                                <a class="page-link" href="{{ field.paginationPath }}{{ pagination.nextPage }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}

                    {% endfor %}

                {% endif %}
            </ul>
        </nav>

    </div>

</div>
