<div class="{% if css.row is defined %}{{ css.row }}{% else %}row{% endif %}">

    {% if field.type == 'date' or field.type == 'date_time' %}

        {% set dateFormat = tpl.twigFunctionParameters %}

        {% if dateFormat is same as('') %}
            {% if field.type == 'date' %}
                {% set dateFormat = 'd-m-Y' %}
            {% elseif field.type == 'date_time' %}
                {% set dateFormat = 'd-m-Y H:i:s' %}
            {% else %}
                {% set dateFormat = 'd\m\Y' %}
            {% endif %}
        {% endif %}

        <div class="{% if css.label is defined %}{{ css.label }}{% endif %}">
            {{ field.label|raw }}
        </div>
        <div class="{% if css.value is defined %}{{ css.value }}{% endif %}">
            {{ field.value|date(dateFormat)|raw }}
        </div>

    {% elseif field.type == 'text' %}

        {% set htmlAllowedTags = tpl.twigFunctionParameters %}

        {% if htmlAllowedTags is same as('') %}
            {% set htmlAllowedTags = '<p><a><br>' %}
        {% endif %}

        <div class="{% if css.label is defined %}{{ css.label }}{% endif %}">
            {{ field.label|raw }}
        </div>
        <div class="{% if css.value is defined %}{{ css.value }}{% endif %}">
            {{ field.value|striptags(htmlAllowedTags)|raw }}
        </div>

    {% elseif field.type == 'url' %}

        <div class="{% if css.divUrl is defined %}{{ css.divUrl }}{% endif %}">
            <a class="{% if css.aUrl is defined %}{{ css.aUrl }}{% else %}link{% endif %}" href="{{ field.value }}">{{ field.label|raw }}</a>
        </div>

    {% elseif field.type == 'value' %}

        {% set htmlAllowedTags = tpl.twigFunctionParameters %}

        {% if htmlAllowedTags is same as('') %}
            {% set htmlAllowedTags = '<p><a><br>' %}
        {% endif %}

        <div class="{% if css.value is defined %}{{ css.value }}{% endif %}">
            {{ field.value|striptags(htmlAllowedTags)|raw }}
        </div>

    {% endif %}

</div>
