{# Dropdown item for menu desktop #}

<li class="nav-item dropdown{% if menu_item.active == true %} active{% endif %}">
    <a class="nav-link dropdown-toggle" href="{% if menu_item.uri is not null %}{{ path(menu_item.uri) }}{% else %}#{% endif %}" id="navbarDropdown" role="button">
        {{ menu_item.label[locale] }}
    </a>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

        {% for dropdown_item in menu_item.items %}

            {% if is_granted(dropdown_item.role) and (dropdown_item.onlyForAnonymous == false) %}

                {% if dropdown_item.className is same as('AppBundle\\Menu\\Item\\MenuItem') %}
                    {% include 'default/main_menu/item/dropdown_item.html.twig' %}

                {% elseif dropdown_item.className is same as('AppBundle\\Menu\\Item\\DropdownItem') %}
                    {% include 'default/main_menu/item/dropdown_submenu.html.twig' %}

                {% elseif dropdown_item.className is same as('AppBundle\\Menu\\Item\\DropdownDivider') %}
                    {% include 'default/main_menu/item/dropdown_divider.html.twig' %}

                {% endif %}

            {% elseif (app.user is null) and (dropdown_item.onlyForAnonymous == true) %}

                {% if dropdown_item.className is same as('AppBundle\\Menu\\Item\\MenuItem') %}
                    {% include 'default/main_menu/item/dropdown_item.html.twig' %}

                {% elseif dropdown_item.className is same as('AppBundle\\Menu\\Item\\DropdownItem') %}
                    {% include 'default/main_menu/item/dropdown_submenu.html.twig' %}

                {% elseif dropdown_item.className is same as('AppBundle\\Menu\\Item\\DropdownDivider') %}
                    {% include 'default/main_menu/item/dropdown_divider.html.twig' %}

                {% endif %}

            {% endif %}

        {% endfor %}

    </ul>
</li>
