{# Submenu dropdown item #}

{% if dropdown_item is defined %}
    {% set submenu_item = dropdown_item %}
{% endif %}

<li class="dropdown-item dropdown{% if submenu_item.active == true %} active{% endif %}">
    <a class="dropdown-link dropdown-toggle" href="{% if submenu_item.uri is not null %}{{ path(submenu_item.uri) }}{% else %}#{% endif %}" id="navbarDropdown" role="button" data-toggle="dropdown">
        {{ submenu_item.label[locale] }}
    </a>
    <ul class="dropdown-menu dropdown-submenu dropdown-menu-right" aria-labelledby="navbarDropdown">

        {% for dropdown_item in submenu_item.items %}

            {% if is_granted(dropdown_item.role) and (dropdown_item.onlyForAnonymous == false) %}

                {% if dropdown_item.className is same as('AppBundle\\Menu\\Item\\MenuItem') %}
                    {% include 'default/main_menu/item/dropdown_item.html.twig' %}

                {% elseif dropdown_item.className is same as('AppBundle\\Menu\\Item\\DropdownItem') %}
                    {% include 'default/main_menu/item/dropdown_submenu.html.twig' %}

                {% elseif dropdown_item.className is same as('AppBundle\\Menu\\Item\\DropdownDivider') %}
                    {% include 'default/main_menu/item/dropdown_divider.html.twig' %}

                {% endif %}

            {% elseif (app.user is null) and (dropdown_item.onlyForAnonymous == true) %}

                {% if dropdown_item.className is same as('AppBundle\\Menu\\Item\\MenuItem') %}
                    {% include 'default/main_menu/item/dropdown_item.html.twig' %}

                {% elseif dropdown_item.className is same as('AppBundle\\Menu\\Item\\DropdownItem') %}
                    {% include 'default/main_menu/item/dropdown_submenu.html.twig' %}

                {% elseif dropdown_item.className is same as('AppBundle\\Menu\\Item\\DropdownDivider') %}
                    {% include 'default/main_menu/item/dropdown_divider.html.twig' %}

                {% endif %}

            {% endif %}

        {% endfor %}

    </ul>
</li>
