{# Dropdown item #}

<li class="dropdown-item{% if dropdown_item.active == true %} active{% endif %}">
    <a class="dropdown-link" href="{% if dropdown_item.uri is not null %}{{ path(dropdown_item.uri) }}{% else %}#{% endif %}">{{ dropdown_item.label[locale] }}</a>
</li>
