{# Menu item for desktop #}

<li class="nav-item{% if menu_item.active %} active{% endif %}">
    <a class="nav-link" href="{% if menu_item.uri is not null %}{{ path(menu_item.uri) }}{% else %}#{% endif %}">{{ menu_item.label[locale] }}</a>
</li>
