{# Field as group field with collection #}
{% if fieldObject.collection is defined %}
    {% set css = fieldObject.template.arrayCss %}

    <div class="{% if css.col is defined %}{{ css.col }}{% else %}col{% endif %}">

    {% for fieldObject in fieldObject.collection %}

        {% set field = fieldObject.field %}
        {% set config = fieldObject.config %}
        {% set template = fieldObject.template %}

        {% include 'default/field/field_templates.html.twig' %}

    {% endfor %}

    </div>

{% else %}

    {% set field = fieldObject.field %}
    {% set extField = fieldObject.extField %}
    {% set config = fieldObject.config %}
    {% set template = fieldObject.template %}

    {% if is_granted(config.roles) %}

        {% set tpl = template %}
        {% set css = tpl.arrayCss %}

        {% if tpl.dividerBefore %}
            {% if css.dividerBefore is defined %}{% set dividerCss = css.dividerBefore %}{% else %}{% set dividerCss = '' %}{% endif %}
            {% include 'default/field/extra_field/divider.html.twig' %}

        {% endif %}
        {% if tpl.smallDividerBefore %}
            {% if css.smallDividerBefore is defined %}{% set dividerCss = css.smallDividerBefore %}{% else %}{% set dividerCss = '' %}{% endif %}
            {% include 'default/field/extra_field/small_divider.html.twig' %}

        {% endif %}

        {% include field.templatePath %}

        {% if tpl.dividerAfter %}
            {% if css.dividerAfter is defined %}{% set dividerCss = css.dividerAfter %}{% else %}{% set dividerCss = '' %}{% endif %}
            {% include 'default/field/extra_field/divider.html.twig' %}

        {% endif %}
        {% if tpl.smallDividerAfter %}
            {% if css.smallDividerAfter is defined %}{% set dividerCss = css.smallDividerAfter %}{% else %}{% set dividerCss = '' %}{% endif %}
            {% include 'default/field/extra_field/small_divider.html.twig' %}

        {% endif %}

    {% endif %}

{% endif %}
